<div class="card">
     <span class="card-bg" style="background-image: url(<%= cocktail.picture %>)"></span>
     <span class="card-shadow"></span>
     <span class="card-text">
       <h2><%= cocktail.name %></h2>
       <p>Girly drinks</p>
     </span>
     <span class="card-body">
     <%= link_to "", cocktail_path(cocktail), class: "card-link" %>
     </span>
</div>
