<div class="text-center">
<h1 class="text-center"> Welcome to the Cocktail factory</h1>
<p>All cocktails are made out with <3 </p>
<div class="container">
 <div class="row">
<% @cocktails.each do |cocktail| %>
   <div class="col-xs-12 col-sm-3">
     <%= render "card", cocktail: cocktail %>
 </div>

<%end%>
</div>
